In [2]:
# creating a list
list=['simon','john','maxwell','Kylian']
list

['simon', 'john', 'maxwell', 'Kylian']

In [4]:
# A list can contain a mix of different types of variables:
list1=['spherical','moon',1,3,True]
list

['simon', 'john', 'maxwell', 'Kylian']

In [9]:
# indexing in lists 
# indexing in lists begin from 0 to N-1
# helps us acess individual elements of a list
print(list[0])
print(list[3])
print(list[2])

simon
Kylian
maxwell

In [11]:
# negative indexing allow us get elements from the tail
print(list[-1])
print(list[-2])

Kylian
maxwell

In [13]:
# list slicing 
# helps us get a given number of elements
print(list[0:2])
# the above slicing gives us the elements at index 0 and 1 excluding element at index 2 
# it is similar to this
print(list[:2])

['simon', 'john']
['simon', 'john']

In [14]:
print(list[0:])
# gives us the entire list

['simon', 'john', 'maxwell', 'Kylian']

In [15]:
print(list[1:-1])
# gives us an exemption of first and last element

['john', 'maxwell']

In [16]:
print(list[-3:])
# gives us the last three elements of our list

['john', 'maxwell', 'Kylian']

In [18]:
# Lists are "mutable", meaning they can be modified "in place".
list[0]='You'
list

['You', 'john', 'maxwell', 'Kylian']

In [20]:
# list fuctions
# len() gives us the number of elements in the list
len(list)

4

In [22]:
# sort() rearanges the elements in the list either innascending or descending order
list.sort()
list

['Kylian', 'You', 'john', 'maxwell']

In [25]:
# finding sum of element in the list
list_num=[34,87,45,76]
sum(list_num)

242

In [29]:
# list methods
# append () adds an element at the tail of the list
list_num.append(50)
list_num

[34, 87, 45, 76, 50]

In [31]:
# insert adds an element at the specified position
list_num.insert(0,10)
list_num

[10, 10, 34, 87, 45, 76, 50]

In [33]:
# pop() removes the last elemment in a list
list_num.pop()
list_num

[10, 10, 34, 87, 45]

In [36]:
# remove() removes an element in a specified position
list_num.remove(10)
list_num

[34, 87, 45]

In [37]:
# searching in a list
list

['Kylian', 'You', 'john', 'maxwell']

In [38]:
# gives us a bool either true or false
'john' in list

True

In [39]:
# looping through a list
for name in list:
    print(name)

Kylian
You
john
maxwell

In [42]:
# other way to create a list
 pets=list(("dog","cat","rabbit"))
 print(pets)